<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'frontend/style.css' %}">
{#  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">#}
    <!-- Latest compiled and minified CSS -->
  <title>Django DRF</title>
</head>
<body>

    <div id="app"><!-- React --></div>

</body>
{% load static %}
<script src="{% static "frontend/main.js" %}"></script>
</html>